In [88]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [89]:
postulantesEducacion=pd.read_csv('fiuba_1_postulantes_educacion.csv',low_memory=False)
postulantesGeneroYEdad=pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv',low_memory=False)
vistas=pd.read_csv('fiuba_3_vistas.csv',low_memory=False)
#postulaciones=pd.read_csv('fiuba_4_postulaciones.csv',low_memory=False)
#avisosOnline=pd.read_csv('fiuba_5_avisos_online.csv',low_memory=False)
avisosDetalle=pd.read_csv('fiuba_6_avisos_detalle.csv',low_memory=False)

datosFaltantes = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv',low_memory=False)

test_final=pd.read_csv('test_final_100k.csv',low_memory=False)

In [90]:
test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
id              100000 non-null int64
idaviso         100000 non-null int64
idpostulante    100000 non-null object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [91]:
test_final.describe()

                  id       idaviso
count  100000.000000  1.000000e+05
mean    49999.500000  1.105252e+09
std     28867.657797  8.602712e+07
min         0.000000  7.392600e+05
25%     24999.750000  1.112326e+09
50%     49999.500000  1.112439e+09
75%     74999.250000  1.112464e+09
max     99999.000000  1.112515e+09

In [92]:
test_final.head(20)

    id  idaviso idpostulante
0    0   739260       6M9ZQR
1    1   739260       6v1xdL
2    2   739260       ezRKm9
3    3   758580       1Q35ej
4    4   758580       EAN4J6
5    5   758580       8R6pzR
6    6   776420       aZJ2XN
7    7   776420       Nmpo3J
8    8   776420       eVqWar
9    9   820850       6ZBD33
10  10   820850       1j4RNj
11  11   820850        ZOwE8
12  12   820850       NG4BaD
13  13   914880       6q6eNl
14  14   914880       8E8pWj
15  15   914880       eVqbDr
16  16  1112360       6kRZ44
17  17  1112360       8XGB3D
18  18  1112360       5qVB9X
19  19  1112360       Z6zxXZ

In [117]:
postulantesGeneroYEdad.info()
#fechanacimiento* (convertir en un numero), sexo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281385 entries, 0 to 281384
Data columns (total 3 columns):
idpostulante       281385 non-null object
fechanacimiento    268482 non-null object
sexo               281385 non-null object
dtypes: object(3)
memory usage: 6.4+ MB

In [ ]:
#Hay una difencia de datos entre la columna fechanacimiento y sexo
#Entonces para elloslos completamos con la media o el promedio de todos

In [94]:
postulantesEducacion.info()
#estado, nombre

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397509 entries, 0 to 397508
Data columns (total 3 columns):
idpostulante    397509 non-null object
nombre          397509 non-null object
estado          397509 non-null object
dtypes: object(3)
memory usage: 9.1+ MB

In [95]:
vistas.info()
#Agregar columna con la cantidad de veces que vio la publicacion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11648230 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 266.6+ MB

In [96]:
avisosDetalle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13798 entries, 0 to 13797
Data columns (total 11 columns):
idaviso                 13798 non-null int64
idpais                  13798 non-null int64
titulo                  13798 non-null object
descripcion             13798 non-null object
nombre_zona             13798 non-null object
ciudad                  86 non-null object
mapacalle               1019 non-null object
tipo_de_trabajo         13798 non-null object
nivel_laboral           13798 non-null object
nombre_area             13798 non-null object
denominacion_empresa    13795 non-null object
dtypes: int64(2), object(9)
memory usage: 1.2+ MB

In [97]:
avisosDetalle.head()
#nombre_area, tipo_de_trabajo, nivel_laboral, denominacion_empresa, nombre_zona, titulo

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES
1,1712970,1,INGENIERO DE PRODUCTO,INGENIERO ELECTRICISTA/ELECTRONICO CON CONOCIM...,Capital Federal,NaN,NaN,Full-time,Otro,Otras Ingenierias,Aparatos Electricos Automaticos SA
2,1719970,1,** Diseñadores/as Gráficos Quark Express **,Diseñadores/as Gráficos Quark Express para Rev...,Capital Federal,NaN,NaN,Full-time,Otro,Diseño,Revista NEX IT Specialist ? Editorial Poulbert
3,1720060,1,Soporte Tecnico,Estudiante de Sistemas (Lic. en Sistemas de la...,Capital Federal,NaN,NaN,Full-time,Otro,Tecnologia / Sistemas,Tango Software
4,1720280,1,ADSCRIPTO DE GERENCIA,Importante Organización Académica Empresarial\...,Buenos Aires (fuera de GBA),NaN,NaN,Full-time,Otro,Otros,Experis

In [98]:
postulantesEducacion.head(20)

   idpostulante             nombre    estado
0           YZP             Master  En Curso
1          ZjlZ             Master  En Curso
2         aEW8J      Universitario  En Curso
3         8QGRj      Universitario  En Curso
4        eRYl5r      Universitario  En Curso
5        1lKNa3      Universitario  En Curso
6        NA84GJ      Universitario  En Curso
7        a61Yo5      Universitario  En Curso
8        ZjdkqZ      Universitario  En Curso
9        8wKOpM      Universitario  En Curso
10       EDM1x8      Universitario  En Curso
11       NA8aX5               Otro  En Curso
12       eRYqor      Universitario  En Curso
13       6kKXLv      Universitario  En Curso
14       8wK4Pl      Universitario  En Curso
15       E5bKKJ  Terciario/Técnico  En Curso
16       82PYmL      Universitario  En Curso
17       EEeGl8      Universitario  En Curso
18       82OLmR  Terciario/Técnico  En Curso
19       ZroBQ1      Universitario  En Curso

In [99]:
postulantesGeneroYEdad.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          ZX1             NaN  NO_DECLARA
2          YZP      1961-05-01        MASC
3          ebE      1952-07-07        MASC
4          N1x             NaN  NO_DECLARA

In [100]:
postulantesEducacion.groupby(['idpostulante', 'nombre', 'estado']).count()
#Agregar funcion para definir cual es el nivel mas alto educativo y darle un valor

Empty DataFrame
Columns: []
Index: [(0z5JW1r, Otro, Graduado), (0z5JW1r, Secundario, Graduado), (0z5JW1r, Terciario/Técnico, Graduado), (0z5JW1r, Universitario, Abandonado), (0zB028M, Otro, Graduado), (0zB028M, Secundario, Graduado), (0zB028M, Terciario/Técnico, En Curso), (0zB06Vv, Secundario, Graduado), (0zB08lq, Secundario, Graduado), (0zB0Eqv, Secundario, Graduado), (0zB0Eqv, Universitario, Graduado), (0zB0ExY, Secundario, Graduado), (0zB0LQa, Secundario, Graduado), (0zB0LYv, Secundario, Graduado), (0zB0WZE, Universitario, En Curso), (0zB0Xwd, Secundario, Graduado), (0zB0Xwd, Universitario, En Curso), (0zB0YGv, Otro, En Curso), (0zB0YGv, Terciario/Técnico, Abandonado), (0zB0YGv, Universitario, Abandonado), (0zB0YW1, Secundario, Graduado), (0zB0YW1, Universitario, Abandonado), (0zB0dLq, Secundario, Graduado), (0zB0dLq, Universitario, En Curso), (0zB0dZd, Universitario, Graduado), (0zB0e1d, Secundario, Graduado), (0zB0e1d, Universitario, En Curso), (0zB0emE, Master, Abandonado), (0zB0emE, Posgrado, Graduado), (0zB0emE, Universitario, Graduado), (0zB0l9a, Otro, Graduado), (0zB0l9a, Secundario, Graduado), (0zB0l9a, Terciario/Técnico, En Curso), (0zB0l9a, Terciario/Técnico, Graduado), (0zB0qGE, Otro, Graduado), (0zB0qGE, Secundario, Graduado), (0zB0rj9, Secundario, Graduado), (0zB0rj9, Terciario/Técnico, Graduado), (0zB0v4v, Universitario, Graduado), (0zB0xwq, Posgrado, Graduado), (0zB10Xd, Secundario, Graduado), (0zB10Xd, Terciario/Técnico, En Curso), (0zB10Xd, Universitario, Abandonado), (0zB10m8, Universitario, Graduado), (0zB11Wd, Universitario, Abandonado), (0zB11Wd, Universitario, Graduado), (0zB1369, Secundario, Graduado), (0zB1369, Universitario, En Curso), (0zB16Dr, Otro, Graduado), (0zB16Dr, Secundario, Graduado), (0zB16Dr, Universitario, En Curso), (0zB1Bev, Secundario, Graduado), (0zB1Kp8, Otro, Graduado), (0zB1Kp8, Terciario/Técnico, Graduado), (0zB1Kp8, Universitario, En Curso), (0zB1MJ1, Secundario, Graduado), (0zB1Rk1, Secundario, Graduado), (0zB1XB1, Secundario, Graduado), (0zB1XB1, Universitario, En Curso), (0zB1Yoa, Terciario/Técnico, Abandonado), (0zB1kKa, Otro, Graduado), (0zB1kKa, Secundario, Graduado), (0zB1kKa, Terciario/Técnico, Graduado), (0zB1kKa, Universitario, Abandonado), (0zB1lLM, Secundario, Graduado), (0zB1oA1, Otro, Graduado), (0zB1oA1, Secundario, Graduado), (0zB1oA1, Universitario, Graduado), (0zB1oz1, Secundario, Graduado), (0zB1oz1, Universitario, Abandonado), (0zB1vz9, Secundario, Graduado), (0zB234q, Secundario, Graduado), (0zB234q, Universitario, En Curso), (0zB262Y, Secundario, Graduado), (0zB262Y, Universitario, En Curso), (0zB26OM, Universitario, Graduado), (0zB26aa, Secundario, Graduado), (0zB26aa, Universitario, En Curso), (0zB26eY, Secundario, Graduado), (0zB26eY, Terciario/Técnico, En Curso), (0zB2A5a, Secundario, Graduado), (0zB2A5a, Terciario/Técnico, En Curso), (0zB2K2Y, Secundario, Graduado), (0zB2K2Y, Universitario, Graduado), (0zB2Kp9, Universitario, Graduado), (0zB2Nva, Secundario, Graduado), (0zB2VOa, Terciario/Técnico, Graduado), (0zB2W5M, Universitario, Graduado), (0zB2WpE, Universitario, Abandonado), (0zB2WpE, Universitario, En Curso), (0zB2WpE, Universitario, Graduado), (0zB2ZdE, Universitario, Graduado), (0zB2kAa, Universitario, Graduado), (0zB2vQ1, Secundario, Graduado), (0zB2zpr, Universitario, En Curso), (0zB33Gq, Otro, Graduado), (0zB33Gq, Secundario, Graduado), (0zB33Gq, Terciario/Técnico, Graduado), (0zB34q9, Secundario, Graduado), (0zB35QY, Otro, Graduado), ...]

[397509 rows x 0 columns]

In [101]:
postulantesGeneroYEdad.groupby('idpostulante').count().sort_values(by=['sexo'],ascending = False)

              fechanacimiento  sexo
idpostulante
0z5JW1r                     1     1
a110V0                      1     1
a12mv5                      1     1
a12j55                      1     1
a12GN5                      1     1
a120o9                      1     1
a11vxE                      1     1
a11Q85                      1     1
a10jVW                      1     1
a18p8E                      1     1
a10J50                      1     1
a10GZ0                      1     1
a10EAE                      1     1
a0zWD0                      1     1
a0zR9m                      1     1
a0zNYN                      1     1
a12oWD                      1     1
a132rD                      1     1
a13DdJ                      1     1
a13XKE                      1     1
a13brW                      1     1
a13vNE                      1     1
a14Q05                      1     1
a14Xeq                      1     1
a14mrm                      1     1
a15A45                      1     1
a15Mk0                      1     1
a15pW                       1     1
a15zP5                      1     1
a15zd5                      1     1
...                       ...   ...
EzZeXrb                     1     1
EzZeZNo                     1     1
EzZej4o                     1     1
EzZekR8                     1     1
EzZekZN                     1     1
EzZem84                     1     1
EzZj0N8                     1     1
EzZj0V4                     1     1
EzZj2PJ                     1     1
EzZj3B9                     1     1
EzZj3Z8                     1     1
EzZj5PJ                     1     1
EzZjA1b                     1     1
EzZjMaN                     1     1
EzZk8NN                     1     1
EzZjPP8                     1     1
EzZjRo6                     1     1
EzZjWM0                     1     1
EzZjWvN                     1     1
EzZjXNb                     1     1
EzZjbj9                     1     1
EzZjjJ9                     1     1
EzZjkXN                     1     1
EzZjlZz                     1     1
EzZjra0                     1     1
EzZjzWo                     1     1
EzZk32z                     1     1
EzZk48J                     1     1
EzZk5VJ                     1     1
zvxzzL6                     1     1

[281385 rows x 2 columns]

In [102]:
#El csv postulantesGeneroYEdad no tiene repetidos
#Concluimos que el archivo postulantesGeneroYEdad no contiene todos los datos de test_final
#Al hacer el merge consideramos por medio del how='left' quedarnos solo con los datos que se encontraban en el dataFrame test_final

In [103]:
dataFrame = pd.merge(test_final, postulantesGeneroYEdad, on='idpostulante', how='left')

In [104]:
dataFrame.head(20)

    id  idaviso idpostulante fechanacimiento  sexo
0    0   739260       6M9ZQR      1976-03-29   FEM
1    1   739260       6v1xdL             NaN   NaN
2    2   739260       ezRKm9      1982-02-17   FEM
3    3   758580       1Q35ej             NaN   NaN
4    4   758580       EAN4J6             NaN   NaN
5    5   758580       8R6pzR      1990-05-29  MASC
6    6   776420       aZJ2XN      1989-01-23  MASC
7    7   776420       Nmpo3J      1964-02-13  MASC
8    8   776420       eVqWar             NaN   NaN
9    9   820850       6ZBD33      1980-09-18  MASC
10  10   820850       1j4RNj             NaN   NaN
11  11   820850        ZOwE8      1979-10-22   FEM
12  12   820850       NG4BaD      1990-03-18   FEM
13  13   914880       6q6eNl      1972-12-12  MASC
14  14   914880       8E8pWj             NaN   NaN
15  15   914880       eVqbDr      1983-03-25   FEM
16  16  1112360       6kRZ44             NaN   NaN
17  17  1112360       8XGB3D             NaN   NaN
18  18  1112360       5qVB9X      1977-08-29   FEM
19  19  1112360       Z6zxXZ      1980-05-16   FEM

In [107]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id                 100000 non-null int64
idaviso            100000 non-null int64
idpostulante       100000 non-null object
fechanacimiento    76939 non-null object
sexo               78728 non-null object
dtypes: int64(2), object(3)
memory usage: 4.6+ MB

In [109]:
cantidad_actual = dataFrame.count()
print cantidad_actual

id                 100000
idaviso            100000
idpostulante       100000
fechanacimiento     76939
sexo                78728
dtype: int64

In [114]:
prueba = dataFrame
prueba.dropna(inplace=True)
cantidad_sinNan = prueba.count()
print cantidad_sinNan

id                 76939
idaviso            76939
idpostulante       76939
fechanacimiento    76939
sexo               76939
dtype: int64

In [116]:
diferencia = cantidad_actual['idpostulante'] - cantidad_sinNan['idpostulante']
print diferencia

23061

In [106]:
dataFrame.groupby('idpostulante').count()

              id  idaviso  fechanacimiento  sexo
idpostulante
0zB0LYv        1        1                1     1
0zB0v4v        1        1                1     1
0zB1369        2        2                2     2
0zB35QY        2        2                2     2
0zB4Lbd       11       11               11    11
0zB5zKd        1        1                1     1
0zB6KOM        4        4                4     4
0zB8bmE       13       13               13    13
0zBAqNM        1        1                1     1
0zBDZRq       20       20               20    20
0zBDkja        6        6                6     6
0zBEL2v        4        4                4     4
0zBGR4M       11       11               11    11
0zBGo4d       10       10               10    10
0zBJ0ar       11       11               11    11
0zBJGe1        1        1                1     1
0zBKL3Y        1        1                1     1
0zBKed1       10       10               10    10
0zBNWk1        5        5                5     5
0zBO91v        2        2                2     2
0zBOEk1       15       15               15    15
0zBPNzv        4        4                4     4
0zBVeRE        1        1                1     1
0zBWEPv        1        1                1     1
0zBWxaM        2        2                2     2
0zBjara        1        1                1     1
0zBjvjq        3        3                3     3
0zBlxYY        5        5                5     5
0zBmJK9        1        1                1     1
0zBmRWa        5        5                5     5
...           ..      ...              ...   ...
zvxJedm        1        1                1     1
zvxJxBK       10       10               10    10
zvxNG6D        3        3                3     3
zvxNaGm        1        1                1     1
zvxNoVK        2        2                2     2
zvxNpb5       10       10               10    10
zvxQ6w3        3        3                3     3
zvxQRO5        1        1                1     1
zvxRJV6        1        1                1     1
zvxWP3K        2        2                2     2
zvxWRPK        6        6                6     6
zvxXv9k        3        3                3     3
zvxbRPD        1        1                1     1
zvxbbLD        1        1                1     1
zvxbwAK        4        4                4     4
zvxjZv8        1        1                1     1
zvxjklD        1        1                1     1
zvxl2LJ        2        2                2     2
zvxlPV5        2        2                2     2
zvxleeb        2        2                2     2
zvxljQm        3        3                3     3
zvxo3O5        1        1                1     1
zvxo6m3        4        4                4     4
zvxq2rJ        1        1                1     1
zvxqK9b        1        1                1     1
zvxrWam        2        2                2     2
zvxxW65        2        2                2     2
zvxxeND        3        3                3     3
zvxze8J        3        3                3     3
zvxzrWm        2        2                2     2

[64646 rows x 4 columns]